@media only screen and (max-width: 600px) and (min-width: 300px){
  /*  .intro {    
        width: 383% !important;

    }*/


    

}

/*fin de la version pour téléphone*/

body {
color: rgb(71, 71, 71);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Début du bandeau d'introduction*/
.fab{
    position: relative;
    top: 20px;
    left: 20px; 
    font-size: 40px;
}

.intro {
    display: flex;
    flex-direction: column;
    background-image: url(pictures/paysage.jpg);
    background-size: auto;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.intro h1 {
    font-size: 2.5em;
    margin-left: 14%;
    width: 58%;
}
.boutons {
    width: 65%;
    margin-left: 10%;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.boutonExplorer button {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    background-color: white;
    border-color: rgb(22, 4, 3);
    border-width: 1px;
    border-radius: 5px;
    border: none;
    color: rgb(22, 4, 3);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    margin-left:18%;
  }
  .boutonExplorer p {
    font-size: 1.2em;
    margin-left: 18%;
    margin-bottom: 2%;
    margin-right: -18%;
  }
  .boutonAcceuillir button{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.2em;
    border-width: 1px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    margin-left:35%;
  }
  .boutonAcceuillir p {
    font-size: 1.2em;
    margin-left: 35%;
    margin-bottom: 3%;
}
.copyBackground p {
    padding-left:1%;
    padding-top: 35px;
    font-size: 0.7em;
    font-weight: lighter;
    color: lightgray;
}

/* Fin du bandeau d'introduction */

/* Début de la partie Réservation*/
.reserve {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
 }
.reserveTitle {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: -100px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}
.reserve p {
    margin-bottom: 2%;
}
input[type=text] {
    padding: 14px 20px;
    margin-right:10px;
    margin-top:10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius:3px;
  }
input[type=date] {
    padding: 12px 20px;
    margin-right:-6px;
    margin-top:10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius:3px;
  }
.person {
    margin-top:0.6%;
    margin-left: 15px;
}
.numberOfPersons {
    line-height: 50 px;
    padding: 13px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius:3px;
    background-color: white;
}  
.search {
    padding-top: 8%;
    padding-bottom: 7%;
    padding-left: 25%;
    padding-right: 25%;
    margin-right: 3%;
    margin-top: 9%;
    margin-left: 8%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #FF5A5F;
    font-weight: bolder;
    color: white;
    font-size: 1.1em;
}
/*Fin de la partie Réservation*/


/* section Belgique : ce que les autres voyageurs ont pensé de leur logement*/

.feedback {
    display: flex;
    flex-direction:column;
    color: rgb(57, 58, 58);
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    background-color: rgb(255, 255, 255);
}
.introFeedback {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}


.titreFeedback h1 {
    background-color: rgb(255, 255, 255);
    margin-left: -25px;
}
.titreFeedback p {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: -10px;
}

.logo img {
    margin-top: 60px;
    margin-left: 10%;
    width: 25px;
    height: auto;
}

.logementContainer {
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
/* DÉBUT LOGEMENT */
.logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    padding-left::10px;
}
.logement p{
    margin-top:-30%;
    padding-right: 15px;
}
.photo{
    width: 100%;
    height: auto;
}
.stars{
    margin-top: -30%;
    padding-top: 10px;
    padding-left: 10px;
    width: 100px;
    height: 16px;
}
.portraitContainer {
    margin-top:-30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.portraitContainer h5 {
    margin-left: 30px;
}
.portrait{
    margin-top:-10%;
    margin-top:-15%;
    width: 25%;
    
}

/*Fin section logement*/

/* section Voyager avec airRnB*/

.voyage{
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-left: 50px;
}

.voyageTitle H1{
    font-size: 24px;       
}


.voyageContenu{
    margin-top:25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* FIN section Voyager avec airBnB*/

/* Début section Assistance*/

.Assistance {
    padding-left: 10px;
    padding-right: 30px;
}

.Assistance img {
    width: 35px;
    height:35px;
}
.Assistance p {
    font-size: 14px;
}
.Assistance H3 {
    font-size: 16px;
}
/* Fin section Assistance*/
/* Début section Charte*/
.Charte {
    padding-left: 10px;
    padding-right: 30px;
}

.Charte img {
    width: 35px;
    height:35px;
}
.Charte p {
    font-size: 14px;
}
.Charte H3 {
    font-size: 16px;
}
/* Fin section Charte*/

/* Début section Etoiles*/
.Etoiles {
    padding-left: 10px;
    padding-right: 30px;
}

.Etoiles img {
    width: 35px;
    height:35px;
}
.Etoiles p {
    font-size: 14px;
}
.Etoiles H3 {
    font-size: 16px;
}
/* Fin section Etoiles*/


/*Début de la section: Les offres*/

.offer{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-left: 50px;
}
.offreGlobal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offre {
    width:246px;

}

.offre > img {
    width: 246px;
    height: auto;
    margin-bottom: -15px;
}

.offre > H6 {
    font-size: 12px;
    color: grey;
}

.offre > H5 {
    margin-top: -15px;
    font-size: 18px;
}

.cotation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cotation > img {
    margin-right:15px;
    width: 50px;
    height: 10px;
}
.cinqCents a{
    text-decoration: none;
    color: #008489;
}

/*Fin de la section: Les offres*/

/*Début de la section Quand voyagez vous?*/
.availability{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-left: 50px;
}

.ajout h2{
    margin-bottom: -20px;
}
.ajout a{
    text-decoration: none; 
    background-color: #008489;
    color: white;
    padding: 10px;
    border-radius:3px;
}

hr {
    margin-top: 25px;
    border-color: rgb(218, 218, 218);
    border-top:1px;
}

/*Fin de la section Quand voyagez vous?*/

/*Début de la section LIENS*/
.links {
    width: 1080px;
    margin-left: 160px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    height: 300px;
}
.liens > ul > a {
    text-decoration: none;
    color: #303030;

}

.socialConditions {
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 300px;
}

.conditions {
    margin-top: 10px;
}
conditions > ul {
    line-height:normal;
}
.conditions > ul > a {
    text-decoration: none;
    color: #303030;
}

.logoSocial i {
    text-decoration: none;
    color: #303030;
    font-size: 20px;
}
.logoSocial {
    margin-left: -88px;
    margin-top:-10px;
}




/*Fin de la section LIENS*/

.footer {
    width: 1080px;
    margin-left: 160px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-left: 0px;
}
.footer p{
    margin-top:20px;
    margin-left: 30px;

}
.footer i{
    font-size: 17px;
}

.eur {
    margin-left: 500px;
}
